[Base16]
; Red on dark grey background
text               = {{base05-hex}}
subtext            = {{base05-hex}}
nav-active-text    = {{base00-hex}}
main               = {{base00-hex}}
sidebar            = {{base00-hex}}
player             = {{base00-hex}}
card               = {{base01-hex}}
shadow             = {{base00-hex}}
main-secondary     = {{base01-hex}}
button             = {{base01-hex}}
button-secondary   = {{base02-hex}}
button-active      = {{base03-hex}}
button-disabled    = {{base01-hex}}
nav-active         = {{base0D-hex}}
play-button        = {{base0D-hex}}
tab-active         = {{base01-hex}}
notification       = {{base0D-hex}}
notification-error = {{base08-hex}}
playback-bar       = {{base0D-hex}}
misc               = {{base06-hex}}
